.App {
  text-align: center;
}

/*-------- TabHeader --------*/
.album-tab {
  background-color: #f8f9fa;
  padding: 8px 15px; 
  align-items: center; 
}

.album-link {
  font-weight: 600; 
  font-size: 1rem; 
  color: #D63415 !important; /* Color personalizado */
  text-decoration: underline !important; /* Subrayado */
  display: flex;
  align-items: center;
}

.text-muted {
  font-size: 0.9rem; /* Tamaño de fuente menor para la fecha */
}




