.footer-custom {
  background-color: #D63415;
  padding-bottom: 10px;
}

@media (max-width: 767px) { /* Ocultar el fondo rojo en pantallas pequeñas */
  .footer-custom {
    background-color: transparent;
  }
  .footer-legal a {
    text-decoration: none;
    color: rgb(35, 35, 35)!important;
  }
}

.footer-logo {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 5px 0 30px;
}

.footer-menu {
  text-align: start;
  margin: 10px;
}

.footer-menu a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-legal {
  margin-bottom: 5px;
}

.footer-legal a {
  text-decoration: none;
  color: white;
}

/* Ocultar íconos de redes sociales en pantallas pequeñas */
.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.social-icon {
  color: white;
  font-size: 24px;
  margin-left: 15px;
}

@media (max-width: 767px) {
  .footer-logo, .footer-menu, .footer-social {
    display: none;
  }

  /* Centrar el contenido legal en pantallas pequeñas */
  .footer-legal {
    text-align: center;
    margin-top: 20px;
  }
}
