/* Fondo personalizado para el Navbar.Brand */
.brand-custom {
    background-color: #D63415; /* Fondo rojo */
    padding: 5px 10px;
    color: white !important;
    border-radius: 1px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .brand-custom:hover {
    color: white; /* Mantener el texto blanco al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
  }
  
  /* Alinear los elementos a la derecha (ya se usa ms-auto en el Nav) */
  .navbar-nav .nav-link, .navbar-nav .dropdown {
    margin-right: 15px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #D63415; /* Color de hover en enlaces */
  }
  
  /* Círculo para las iniciales */
.initials-circle {
    background-color: #EFAEA1; /* Color de fondo */
    color: #B0321A;
    border-radius: 50%; /* Hace que el div sea redondo */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  /* Alinear los elementos del dropdown */
  .dropdown-toggle {
    display: flex;
    align-items: center;
  }
  
  .ms-2 {
    margin-left: 8px; /* Espaciado entre el círculo y el nombre */
  }

  /* Asegurar que el ícono del carrito esté bien alineado */
  .navbar-nav .nav-link:last-child {
    margin-right: 0;
  }